<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhc.dao.UserDao" >
  <sql id="BASE_TABLE">
    user_info
  </sql>

  <sql id="BASE_COLUMN">
    userid,username,password,salt,name,mail,tel
  </sql>

  <insert id="registUser" parameterType="com.jhc.model.UserModel">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      username,password,name,mail,
      <if test="tel != null">
        tel,
      </if>
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{username, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR},#{name, jdbcType=VARCHAR},#{mail, jdbcType=VARCHAR},
      <if test="tel != null">
        #{tel, jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getAllUser" resultType="com.jhc.model.UserModel">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
  </select>


</mapper>